@{
    ViewBag.Title = "Profil";
}
<!-- masterhead in devamı -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> 
        <h2>Laboratuvar Bilgileri</h2>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
 <div class="row">
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
            
<p> Laboratuvar profil sayfasıdır. Bu sayfada laboratuvar bilgileri gösterilecektir.</p>
            <div class="row">
                <div class="col-md-6">
                <p>Laboratuvar Profili</p>
                    </div>
                <div class="col-md-6">
                <p>Laboratuvar Takvimi</p>
                    </div>
            </div>
            <div class ="row">
                <div class="col-md-12">
                    <p>Referans Cihaz Bilgileri</p>
                </div>
            </div>
             </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>      

    </div>
