@{
    ViewBag.Title = "Grafikler";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}
    <section class="content">
        
          <!-- Default box -->
          <div class="box box-danger">
            <div class="box-header with-border">
                        <h3 class="box-title">Karşılaştırma Listesi</h3>
              <div class="box-tools pull-right">
          </div>
            </div>
           <div class="box-body">
                      <p> Yeni başlatılan karşılaştırma listesi </p>
                     </div><!-- /.box-body -->
           
          </div><!-- /.box -->
            <div class="row">
                <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Karşılaştırma Bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      <p> Yeni başlatılan karşılaştırma bilgileri </p>
                     </div><!-- /.box-body -->
                  </div>
                </div>

               <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Ölçüm Aleti Bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      <p> istatistiksel ölçüm aleti bilgileri </p>
                     </div><!-- /.box-body -->
                  </div>
                </div>
            </div>
        </section>

    </div>
         <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
      @*  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-eye"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa  fa-exchange"></i></a></li>
        </ul>
        <!-- Tab panes -->*@
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">İzlence</h3>
            <ul class="control-sidebar-menu">
             
              <li>
                <a href="SayfaYapilari">
                  <i class="menu-icon fa fa-line-chart bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Sayfa Yapıları</h4>
                    <p>Formların pozisyonlarını ve görünürlüklerini ayarlama</p>
                  </div>
                </a>
              </li>
             @* <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-flask bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading"></h4>
                    <p>Şimdiye kadar yapılan ölçümler ve sonrası</p>
                  </div>
                </a>
              </li>*@
              <li>
                <a href="KaynakKod">
                  <i class="menu-icon fa fa-balance-scale bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Kaynak Kod Ayarları</h4>
                    <p>Laboratuvar ekranlarındaki ekran kaynak kodlarının güncellenmesi</p>
                  </div>
                </a>
              </li>
                </ul>
               <h3 class="control-sidebar-heading">İşlemler</h3>
               <ul class="control-sidebar-menu">
                 <li>
                <a href="Reklam">
                  <i class="menu-icon fa fa-balance-scale bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Reklam Ayarları</h4>
                    <p>Laboratuvarın göreceği reklamların sayfadaki pozisyonu ve hangi laboratuvarlara gösterileceği</p>
                  </div>
                </a>
                </li>
                 <li>
                <a href="Grafikler">
                  <i class="menu-icon fa fa-flask bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Grafiklendirme</h4>
                    <p>Bulunan sonuçların grafiklendirilmesi</p>
                  </div>
                </a>
              </li>
                 <li>
                <a href="RaporAyari">
                  <i class="menu-icon fa fa-line-chart bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Raporlama</h4>
                    <p>Raporların hazırlanması ve yayınlanması</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->


          </div>
        </div>
      </aside><!-- /.control-sidebar -->
      <div class="control-sidebar-bg"></div>

<script>
    var sekme = document.getElementById("formlar_sekme");
    sekme.classList.add("active"); 
</script>