 <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grafik Ayarları</h4>
      </div>
     
      <div class="modal-body">
        <div class="callout callout-info">
              <h4>İpucu!</h4>       

<p>Karşılaştırma dropdownboxtan seçilir. Seçilen karşılaştırma için grafik türü seçilir. Ölçüm verileri grafik üstünde eşleştirilir ve kayıt edilir. Yapılan bu ayarlar ölçüm sonuçlarındaki tüm karşılaştırmalara
    uyarlanır. Karşılaştırma için bu grafik ayarları veritabanına kayıt edilir ki böylece aynı ayarlar saklanabilsin, tekrar bu modüle girdildiğinde ayarlanmak zorunda kalınmasın.
</p>            </div>    
      </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-success">Kaydet</button>
                  </div>

    </div>

  </div>