 <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">İstatistiksel Hesaplamalar</h4>
      </div>
     
      <div class="modal-body">
        <div class="callout callout-info">
              <h4>İpucu!</h4>       

<p>Karşılaştırma seçilir. Sonra hangi yöntem uygulanacaksa seçilir. Seçilen karşılaştırma için laboratuvarlar sırayla gelecektir. Her laboratuvarın olcum sonuçları için performans skoru belirlenecektir.
    Skorun belirlenmesi otomatik olarak hesaplanır, yöneticiye gösterilir. Sonucu yönetici değiştirebilir ya da onaylar. tüm sonuçlar girildiğinde olcum sonuçları sayfası acılacaktır.
    Grafiklendirme bu işlemin yapılmasına bağlıdır. 
</p>            </div>    
      </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-success">Kaydet</button>
                  </div>

    </div>

  </div>