@model CalCom.Web.Models.AdminPanel.LaboratuvarBilgileri
<div class="row" >
                <div class="col-sm-6">
                  <div class="box box-primary ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Laboratuvar Bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      @Html.DisplayFor(x=>x.lab)
                     </div><!-- /.box-body -->
                  </div>
                </div>

               <div class="col-sm-6">
                  <div class="box box-primary ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Laboratuvar İstatistikleri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      <p> istatistiksel karşılaştırma bilgileri </p>
                     </div><!-- /.box-body -->
                  </div>
                </div>
            </div>