@model CalCom.Web.Models.AdminPanel.OlcumAletiBilgileri
      <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Ölçüm Aleti Bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                     @Html.DisplayFor(x=>x.oa)
                     </div><!-- /.box-body -->
                  </div>
                </div>

               <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Ölçüm Aleti İstatistikleri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      <p> istatistiksel ölçüm aleti bilgileri </p>
                     </div><!-- /.box-body -->
                  </div>
                </div>