@model Calcom.Domain.Entities.Testler

   <div class="row">
                <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">Karşılaştırma Bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                    
                        @Html.DisplayFor(x=>x)

                    </div><!-- /.box-body -->
                  </div>
                </div>

               <div class="col-sm-6">
                  <div class="box box-danger ">
                      <div class="box-header with-border">
                        <h3 class="box-title">istatistiksel Test bilgileri</h3>
                        <div class="box-tools pull-right">
                       </div>
                     </div>
                    <div class="box-body">
                      <p> teste kaç kişi katılmış, kimler yapmıs kimler yapmamış hangi tarihlerde alacaklar gibi bilgiler ve test takvimi gösterilir </p>
                     </div><!-- /.box-body -->
                  </div>
                </div>
            </div>