@{
    ViewBag.Title = "BaslatBilgilendirme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal-body">
    <div class="panel-heading">
        <h2>Karşılaştırma Başlatma</h2>

    </div>
    <div class="panel-body">
        <h3>Bilgilendirme</h3>
        <div class="row">
        <h4>Testler Başarıyla Başlatılmıştır</h4>
            </div>
        </div>
    </div>