@{
    ViewBag.Title = "EkleBilgilendirme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel-heading">
        <h2>Karşılaştırma Ekleme</h2>
    </div>
     <div class="row"> Navigation noktaları </div>
    <div class="panel-body">
      
<div class="panel panel-default">
                        <div class="panel-heading">
                         Bilgilendirme
                        </div>
    <div class="row">
        
    Karşılaştırma başarıyla eklenmiştir
    </div>
    </div>
        </div>
    </div>
