@model CalCom.Web.Models.KesinBaslatViewModel
@{
    ViewBag.Title = "KesinBaslat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-body">
    <div class="panel-heading">
        <h2>Karşılaştırma Başlatma</h2>

    </div>
    <div class="panel-body">
        <div class="row">
        <h3>Tüm Testler</h3>
        <div class="first-column">
            <div class="row">
            @foreach(var m in Model.ozetler){
            
                @Html.DisplayFor(x=>m)
            
            }

            </div>
       </div>
       <div  class="second-column">
           fixed olacak, seçilen divin ayrıntılı bilgisi buraya açılacak
           <span id="degisenEkran"></span>
       </div>
            </div>
@Html.ActionLink("KESİNLEŞTİR", "BaslatBilgilendirme", "KarsilastirmaIslem", new { @class="btn btn-primary btn-lg" })
    </div> 
</div>
<script>

</script>