@{
    ViewBag.Title = "OlcumBilgilen";
}

<!-- masterhead in devamı -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> 
         <h2> Ölçüm Paneli</h2>  
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
 <div class="row">
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
            <div class="panel panel-default">
                 
                        <div class="panel-heading">
                         Bilgilendirme
                        </div>
                        <div class="panel-body">
                            @ViewBag.Bilgi
                            </div>
                </div>
            </div>
          </div>
        </div>
     </div>
    </div>