@{
    ViewBag.Title = "Anasayfa";
    ViewBag.Lab = "UMS";
    ViewBag.Yonetici = "Mert Nar";
    ViewBag.CalismaAlani = "Demir Çelik Kalibrasyonu";
    ViewBag.ImagePath = "../../dist/img/user2-160x160.jpg";
}
        <div class="container">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Ana Sayfa
              
            </h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Ana Sayfa</li>
            </ol>
          </section>

          <!-- Main content -->
          <section class="content"> <!-- renderBody() buraya gelecek, içerik burada değişecek hatta eğer ihtiyaç duyulursa "content-wrapper" dan da alınabilir. Çünkü her sayfa için değişecek yan menüyü sayfalara alırız.-->
            <div class="row"> 
             <div class="col-sm-3">     
                     <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ><a href="~/Genel/LabPanel">Kontrol Paneli</a></li>
                        <li role="presentation"><a href="kontrolPanel"> Haberler</a></li>
                        <li role="presentation"><a href="kontrolPanel">Protokoller</a></li>
                        <li role="presentation"><a href="kontrolPanel">Standartlar</a></li>
                        <li role="presentation"><a href="kontrolPanel">Bildirimler</a></li>
                    </ul>
              </div> 
                <div class="col-sm-9">
              <div class="callout callout-info">
              <h4>İpucu!</h4>
              <p>Laboratuvarın sisteme girdiğinde ilk göreceği ekrandır. Bu ekranda sistemle alakalı genel bilgilendirme yapılabilir ya da sistem sayesinde işleyeceği bilgilerin özeti mahiyetinde bir bilgilendirme yapılabilir. Ne gösterileceğine yönetici karar verecektir.</p>
            </div>
            <div class="callout callout-danger">
              <h4>Uyarı!</h4>
              <p>Bu giriş ekranı genel sistem hakkında genel bir kanı ya da hüküm içermez. Sadece sisteme ilk girildiğinde kullanıcın göreceği ekrandır. Göz ardı edilebilir veya sistem arayüzünden çıkarılabilir; tamamen statiktir ve altyapı ile bir bağlantısı yoktur.</p>
            </div>
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">LAKSIS</h3>
              </div>
              <div class="box-body">
                Laboratuvarlar Arası Karşılaştırmalar ve Yeterlilik Testleri Yönetim Sistemi
              </div><!-- /.box-body -->
            </div><!-- /.box -->

                </div>
        </div>  

          </section><!-- /.content -->
      
        </div><!-- /.container -->




     @*      
<!-- masterhead in devamı -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> 
         <h2> Anasayfa </h2>  
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
        <div id="wrapper" class="fixed">

       <nav class="navmenu-fixed-left" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav navbar-left" id="main-menu">
				<li class="text-center">
                    
					</li>
				
					
                    <li>
                        <a class="active-menu sol" href="#" > Kontrol Paneli</a>
                    </li>
                    <li>
                        <a class="active-menu sol" href="#"> Haberler</a>
                    </li>
                    <li>
                        <a class="active-menu sol" href="#"> Kalibrasyon Cihazları</a>
                    </li>
                    <li>
                        <a class="active-menu sol" href="#"> Protokoller</a>
                    </li>
                    </ul>
                </div>
             </nav>
                </div>
    
 <div class="row">
    <div class="col-md-12"> 
           
      <div class="panel">
           
        <div class="panel-body">
            
<p> Bu sayfada reklamlar ve benzeri yayınlar gösterilecektir.</p>
             </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>      
    </div>*@