@{
    ViewBag.Title = "GelismisArama";
}

div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> 
         <h2> Gelişmiş Arama </h2>  
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
 <div class="row">
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
            
<p> Karşılaştırma kayıt işlemi için test listesi üstünden seçim yapılır.</p>
             </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>      
    </div>