@model CalCom.Web.Models.TakipViewModel


<div class="row">
    <div class="col-md-3"> 
        <h4> Takvim</h4>
        @Html.DisplayFor(x=>x.takvim)
    </div>
     <div class="col-md-3">
         <h4>Kayıt Bilgileri</h4>
         @Html.DisplayFor(x=>x.kayitBilgileri)
     </div>
     <div class="col-md-3"> 
         <h4>Ölçüm Bilgileri</h4>
         @Html.DisplayFor(x=>x.olcumBilgileri)
              </div>
</div>